.Pies {
  background-image: url("../assets/images/Rectangle 11.png");
}

.Cakes{
    background-image: url("../assets/images/Rectangle 10.png")
}

.cake-pagination-custom .swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 100;
  transition: all 0.3s ease-in-out;
}

.cake-pagination-custom .swiper-pagination-bullet-active {
  background-color: #766969 !important;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
}

.Chip{
    background-image: url("../assets/images/Rectangle 31.png");
}

.Roll{
    background-image: url("../assets/images/Rectangle 32.png");
}

.chip-pagination-custom .swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 100;
  transition: all 0.3s ease-in-out;
}

.chip-pagination-custom .swiper-pagination-bullet-active {
  background-color: #766969 !important;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
}

.roll-pagination-custom .swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 100;
  transition: all 0.3s ease-in-out;
}

.roll-pagination-custom .swiper-pagination-bullet-active {
  background-color: #766969 !important;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
}
